<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/statics/css/styles.css">
    <title>Playground 1 </title>
</head>


<body>
    <table>
        {% for x in range (x)%}
        <tr>
            {%for y in range(y)%}
            <td class='color{{(x+y)%2+1}}'>

            </td>
            
            {%endfor%}

        </tr>
        {%endfor%}
        







    </table>


</body>

</html>